<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="terminal">
    <action name="Execute"><execute>uxterm -T "Terminal"</execute></action>
  </item>

  <item label="calculator">
    <action name="Execute"><execute>gnome-calculator</execute></action>
  </item>

  <item label="postman">
    <action name="Execute"><execute>~/.bin/Postman/Postman</execute></action>
  </item>

  <item label="firefox">
    <action name="Execute"><execute>/opt/firefox/firefox</execute></action>
  </item>

  <item label="chrome">
    <action name="Execute"><execute>google-chrome-beta</execute></action>
  </item>

  <item label="irc">
    <action name="Execute"><execute>hexchat</execute></action>
  </item>

  <item label="virtualbox">
    <action name="Execute"><execute>virtualbox</execute></action>
  </item>

  <separator />

  <menu id="writing" label="writing">
    <item label="manuskript">
      <action name="Execute"><execute>manuskript</execute></action>
    </item>

    <item label="remarkable">
      <action name="Execute"><execute>remarkable</execute></action>
    </item>

    <item label="artha">
      <action name="Execute"><execute>artha</execute></action>
    </item>
  </menu>

  <menu id="gamedev" label="gamedev">
    <item label="fl studio">
      <action name="Execute"><execute>wine /home/tlhunter/.wine/drive_c/Program\ Files\ \(x86\)/Image-Line/FL\ Studio\ 12/FL64.exe</execute></action>
    </item>

    <item label="bm font">
      <action name="Execute"><execute>wine /home/tlhunter/.wine/drive_c/Program\ Files\ \(x86\)/AngelCode/BMFont/bmfont.exe</execute></action>
    </item>

    <item label="tiled">
      <action name="Execute"><execute>/opt/tiled/tiled</execute></action>
    </item>

    <item label="gimp">
      <action name="Execute"><execute>gimp</execute></action>
    </item>

    <item label="grafx2">
      <action name="Execute"><execute>grafx2 -mode 1920x1080 -quadruple</execute></action>
    </item>

    <item label="android">
      <action name="Execute"><execute>/opt/android-studio/bin/studio.sh</execute></action>
    </item>
  </menu>

  <menu id="editors" label="editors">
    <item label="vim">
      <action name="Execute"><execute>gvim</execute></action>
    </item>

    <item label="code">
      <action name="Execute"><execute>code</execute></action>
    </item>

    <item label="xed">
      <action name="Execute"><execute>xed</execute></action>
    </item>
  </menu>

  <menu id="media" label="media">
    <item label="audacious">
      <action name="Execute"><execute>audacious</execute></action>
    </item>

    <item label="spotify">
      <action name="Execute"><execute>spotify</execute></action>
    </item>

    <item label="vlc">
      <action name="Execute"><execute>vlc</execute></action>
    </item>

    <item label="sdr radio">
      <action name="Execute"><execute>gqrx</execute></action>
    </item>
  </menu>

  <menu id="production" label="production">
    <item label="dia">
      <action name="Execute"><execute>dia</execute></action>
    </item>

    <item label="inkscape">
      <action name="Execute"><execute>inkscape</execute></action>
    </item>

    <item label="gimp">
      <action name="Execute"><execute>gimp</execute></action>
    </item>
  </menu>

  <menu id="screen_record" label="record">
    <item label="kazam (video + audio)">
      <action name="Execute"><execute>kazam</execute></action>
    </item>

    <item label="peek (gif)">
      <action name="Execute"><execute>peek</execute></action>
    </item>
  </menu>

  <!--
  <menu id="games" label="games">
    <item label="Steam">
      <action name="Execute"><execute>steam</execute></action>
    </item>

    <item label="Brogue">
      <action name="Execute"><execute>/opt/brogue/brogue</execute></action>
    </item>

    <item label="Dungeon Crawl">
      <action name="Execute"><execute>crawl-tiles</execute></action>
    </item>

    <item label="Minecraft">
      <action name="Execute"><execute>minecraft</execute></action>
    </item>

    <item label="Doom I">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/doom.wad</execute></action>
    </item>

    <item label="Doom II">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/doom2.wad</execute></action>
    </item>

    <item label="Doom II Ultimate">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/doomu.wad</execute></action>
    </item>

    <item label="Doom Plutonia">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/plutonia.wad</execute></action>
    </item>

    <item label="Doom TNT: Evilution">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/tnt.wad</execute></action>
    </item>

    <item label="Heretic">
      <action name="Execute"><execute>doomsday -game jheretic -file /usr/share/doom/heretic.wad</execute></action>
    </item>

    <item label="Hexen">
      <action name="Execute"><execute>doomsday -game jhexen -file /usr/share/doom/hexen.wad</execute></action>
    </item>

    <item label="Hexen: Deathkings">
      <action name="Execute"><execute>doomsday -game jhexen -file /usr/share/doom/hexdd.wad</execute></action>
    </item>

    <item label="Quake I">
      <action name="Execute"><execute>darkplaces</execute></action>
    </item>

    <item label="Quake II">
      <action name="Execute"><execute>quake2</execute></action>
    </item>

    <item label="Quake III">
      <action name="Execute"><execute>quake3</execute></action>
    </item>
  </menu>
  -->

  <menu id="network" label="network">
    <item label="filezilla">
      <action name="Execute"><execute>filezilla</execute></action>
    </item>

    <item label="etherape">
      <action name="Execute"><execute>gksudo etherape</execute></action>
    </item>

    <item label="wireshark">
      <action name="Execute"><execute>gksudo wireshark</execute></action>
    </item>

    <item label="transmission">
      <action name="Execute"><execute>transmission-gtk</execute></action>
    </item>
  </menu>

  <menu id="config" label="config">

    <menu id="/Debian" label="GUI Apps" />

    <menu id="client-list-menu" />

    <separator />

    <item label="themes">
      <action name="Execute"><execute>lxappearance</execute></action>
    </item>

    <item label="windows">
      <action name="Execute"><execute>obconf</execute></action>
    </item>

    <item label="displays">
      <action name="Execute"><execute>xfce4-display-settings</execute></action>
    </item>

    <item label="power">
      <action name="Execute"><execute>xfce4-power-manager-settings</execute></action>
    </item>

    <item label="wireless">
      <action name="Execute"><execute>stterm -e nmtui connect</execute></action>
    </item>

    <item label="teensy">
      <action name="Execute"><execute>~/.bin/teensy</execute></action>
    </item>

    <separator />

    <item label="reconfigure">
      <action name="Reconfigure" />
    </item>

    <item label="restart">
      <action name="Restart" />
    </item>
  </menu>

  <separator />

  <item label="lock">
    <action name="Execute"><execute>dm-tool lock</execute></action>
  </item>

  <item label="logout">
    <action name="Exit" />
  </item>

  <item label="suspend (ram)">
    <action name="Execute">
      <prompt>Suspend?</prompt>
      <execute>pm-suspend</execute>
    </action>
  </item>

  <item label="hibernate (disk)">
    <action name="Execute">
      <execute>pm-hibernate</execute>
      <prompt>Hibernate?</prompt>
    </action>
  </item>

  <item label="reboot">
    <action name="Execute">
      <execute>reboot</execute>
      <prompt>Reboot?</prompt>
    </action>
  </item>

  <item label="shutdown">
    <action name="Execute">
      <execute>shutdown -P now</execute>
      <prompt>Shutdown?</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
