<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="terminator">
    <action name="Execute"><execute>terminator</execute></action>
  </item>

  <item label="galculator">
    <action name="Execute"><execute>galculator</execute></action>
  </item>

  <item label="postman">
    <action name="Execute"><execute>postman</execute></action>
  </item>

  <item label="firefox">
    <action name="Execute"><execute>firefox</execute></action>
  </item>

  <item label="chrome">
    <action name="Execute"><execute>google-chrome-beta</execute></action>
  </item>

  <menu id="editors" label="editors">
    <item label="vim">
      <action name="Execute"><execute>gvim</execute></action>
    </item>

    <item label="code">
      <action name="Execute"><execute>code</execute></action>
    </item>

    <item label="atom">
      <action name="Execute"><execute>atom</execute></action>
    </item>

    <item label="leafpad">
      <action name="Execute"><execute>leafpad</execute></action>
    </item>

    <item label="gedit">
      <action name="Execute"><execute>gedit</execute></action>
    </item>
  </menu>

  <menu id="media" label="media">
    <item label="clementine">
      <action name="Execute"><execute>clementine</execute></action>
    </item>

    <item label="audacious">
      <action name="Execute"><execute>audacious</execute></action>
    </item>

    <item label="spotify">
      <action name="Execute"><execute>spotify</execute></action>
    </item>

    <item label="vlc">
      <action name="Execute"><execute>vlc</execute></action>
    </item>
  </menu>

  <menu id="production" label="production">
    <item label="kazam">
      <action name="Execute"><execute>kazam</execute></action>
    </item>

    <item label="sunvox">
      <action name="Execute"><execute>sunvox</execute></action>
    </item>

    <item label="dia">
      <action name="Execute"><execute>dia</execute></action>
    </item>

    <item label="inkscape">
      <action name="Execute"><execute>inkscape</execute></action>
    </item>

    <item label="gimp">
      <action name="Execute"><execute>gimp</execute></action>
    </item>
  </menu>

  <menu id="games" label="games">
    <item label="Steam">
      <action name="Execute"><execute>steam</execute></action>
    </item>

    <item label="Minecraft">
      <action name="Execute"><execute>minecraft</execute></action>
    </item>

    <item label="Doom I">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/doom.wad</execute></action>
    </item>

    <item label="Doom II Ultimate">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/doom2.wad</execute></action>
    </item>

    <item label="Doom Plutonia">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/Plutonia.wad</execute></action>
    </item>

    <item label="Doom TNT: Evilution">
      <action name="Execute"><execute>doomsday -game jdoom -file /usr/share/doom/Tnt.wad</execute></action>
    </item>

    <item label="Heretic">
      <action name="Execute"><execute>doomsday -game jheretic -file /usr/share/doom/heretic.wad</execute></action>
    </item>

    <item label="Hexen">
      <action name="Execute"><execute>doomsday -game jhexen -file /usr/share/doom/hexen.wad</execute></action>
    </item>

    <item label="Quake I">
      <action name="Execute"><execute>darkplaces</execute></action>
    </item>

    <item label="Quake II">
      <action name="Execute"><execute>quake2</execute></action>
    </item>

    <item label="Quake III">
      <action name="Execute"><execute>quake3</execute></action>
    </item>
  </menu>

  <menu id="network" label="network">
    <item label="filezilla">
      <action name="Execute"><execute>filezilla</execute></action>
    </item>

    <item label="etherape">
      <action name="Execute"><execute>gksudo etherape</execute></action>
    </item>

    <item label="wireshark">
      <action name="Execute"><execute>gksudo wireshark</execute></action>
    </item>

    <item label="transmission">
      <action name="Execute"><execute>transmission-gtk</execute></action>
    </item>
  </menu>

  <separator />

  <menu id="/Debian" />

  <menu id="client-list-menu" />

  <menu id="config" label="Config">
    <item label="lxappearance">
      <action name="Execute"><execute>lxappearance</execute></action>
    </item>

    <item label="obconf">
      <action name="Execute"><execute>obconf</execute></action>
    </item>

    <item label="xfce4-display-settings">
      <action name="Execute"><execute>xfce4-display-settings</execute></action>
    </item>

    <separator />

    <item label="teensy">
      <action name="Execute"><execute>~/.bin/teensy</execute></action>
    </item>

    <item label="reconfigure">
      <action name="Reconfigure" />
    </item>

    <item label="restart">
      <action name="Restart" />
    </item>
  </menu>

  <separator />

  <item label="Lock">
    <action name="Execute"><execute>dm-tool lock</execute></action>
  </item>

  <item label="Suspend">
    <action name="Execute"><execute>gksudo --disable-grab pm-suspend</execute></action>
  </item>

  <item label="Hibernate">
    <action name="Execute"><execute>gksudo --disable-grab pm-hibernate</execute></action>
  </item>

  <item label="Logout">
    <action name="Exit" />
  </item>

  <item label="Reboot">
    <action name="Execute"><execute>gksudo --disable-grab "reboot"</execute></action>
  </item>

  <item label="Shutdown">
    <action name="Execute"><execute>gksudo --disable-grab "shutdown -P now"</execute></action>
  </item>
</menu>

</openbox_menu>
