<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Nucleocide">
  <item label="xterm">
    <action name="Execute"><execute>xterm</execute></action>
  </item>

  <item label="chrome">
    <action name="Execute"><execute>google-chrome</execute></action>
  </item>

  <item label="vim">
    <action name="Execute"><execute>gvim</execute></action>
  </item>

  <item label="audacious">
    <action name="Execute"><execute>audacious</execute></action>
  </item>

  <item label="vlc">
    <action name="Execute"><execute>vlc</execute></action>
  </item>

  <separator />

  <menu id="/Debian" />

  <menu id="client-list-menu" />

  <menu id="settings" label="Settings">
    <item label="ARandR">
      <action name="Execute"><execute>arandr</execute></action>
    </item>

    <item label="ObConf">
      <action name="Execute"><execute>obconf</execute></action>
    </item>

    <item label="LXAppearance">
      <action name="Execute"><execute>lxappearance</execute></action>
    </item>

    <item label="xev">
      <action name="Execute"><execute>xterm -e xev</execute></action>
    </item>

    <separator />

    <item label="Reconfigure Openbox">
      <action name="Reconfigure" />
    </item>

    <item label="Restart Openbox">
      <action name="Restart" />
    </item>
  </menu>

  <separator />

  <item label="Lock">
    <action name="Execute"><execute>slock</execute></action>
  </item>

  <item label="Logout">
    <action name="Exit" />
  </item>
</menu>


</openbox_menu>
